/*  root colors */
:root{
    --bg: #EDF2F0;
    --neu-1: #ecf0f3;
    --neu-2: #d1d9e6;
    --white: #f9f9f9;
    --gray: #a0a5a8;
    --black: #181818;
    --purple: #4B70E2;
    --transition: 1.25s;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

 /* Generic */
 body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: var(--neu-1);
    color: var(--gray);
}
 /* main */
 .main{
    position: relative;
    width: 1000px;
    min-width: 1000px;
    min-height: 600px;
    height: 600px;
    padding: 25px;
    background-color: var(--neu-1);
    box-shadow: 10px 10px 10px var(--neu-2),
     -10px -10px 10px var(--white);
    border-radius: 12px;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 600px;
    height: 100%;
    padding: 25px;
    background-color: var(--neu-1);
    transition: var(--transition);
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.form__icon{
    object-fit: contain;
    width: 30px;
    margin: 0 5px;
    opacity: .5;
    transition: .15s;
}
.form__icon:hover{
    opacity: 1;
    transition: .15s;
    cursor: pointer;
}
.form__input{
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: .15px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--neu-1);
    transition: .25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px var(--neu-2),
   inset -2px -2px 4px var(--white);

}
.form__input:focus{
    box-shadow: inset 4px 4px 4px var(--neu-2),
        inset -4px -4px 4px var(--white);
}
.form__span{
    margin-top: 30px;
    margin-bottom: 12px;
}
.form__link{
    color: var(--black);
    font-size: 15px;
    margin-top: 25px;
    border-bottom: 1px solid var(--gray);
    line-height: 2;
}
.title{
    font-size: 34px;
    font-weight: 700;
    line-height: 3;
    color: var(--black);
}
.description{
    font-size: 14px;
    letter-spacing: .25px;
    text-align: center;
    line-height: 1.6;
}
.button{
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color: var(--purple);
    color: var(--white);
    box-shadow:
      8px 8px 16px var(--neu-2),
      -8px -8px 16px var(--white);
    border: none;
    outline: none;
}
.a-container{
    width: 1000px;
    z-index: 100;
    /* left: calc(100% - 600px ); */
    padding-left: 50%;
}
.b-container{
    left: calc(100% - 600px );
    z-index: 0;
}    
.switch{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    padding: 50px;
    z-index: 200;
    transition: var(--transition);
    background-color: var(--neu-1);
    overflow: hidden;
    box-shadow:
      4px 4px 10px var(--neu-2),
      -4px -4px 10px var(--white);
}
.switch__circle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: var(--neu-1);
    box-shadow: inset 8px 8px 12px var(--neu-2),
       inset -8px -8px 12px var(--white);
    bottom: -60%;
    left: -60%;
    transition: var(--transition);
}
.switch__circle--t{
    top: -30%;
    left: 60%;
    width: 300px;
    height: 300px;
}
    
.switch__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 400px;
    padding: 50px 55px;
    transition: var(--transition);
   
}
    
.switch__button{
    cursor: pointer;
}
.switch__button:hover{
    box-shadow: 6px 6px 10px var(--neu-2),
    -6px -6px 10px var(--white);
    transform: scale(.985);
    transition: .25s;
}