@font-face {
    font-family: 'iran-sans';
    src: url("../assets/fonts/IRANSans_Medium.ttf");
    font-family: 'iran-sans-num';
    src: url("../assets/fonts/IRANSans\(FaNum\)_Medium.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iran-sans, iran-sans-num;
}

:root {
    /*?       color        */
    --mainWhite: #fafafa;
    /* greenn */
    --light-green: #DEF2F1;
    --dim-green: #42B1B8;
    --main-green: #159F91;
    --hover-green: #5bc3b8;
    --dark-green: #476968;
    /* bluee */
    --blue: #349EFE;
    --light-blue: #76faff3b;
    --icon-color: #17252A;
    --login-btn-color: #c4f3f1;
    --active-color: #72cbff;
    /* redd */
    --main-red: rgb(241, 58, 58);
    /* color text */
    --main-text-color: #7C7A89;
    /*?       font size    */
    --small-font-size: 12px;
    --medium-font-size: 16px;
    --large-font-size: 20px;
    /* time */
    --transition-time: 0.4s;
}

html {
    background: rgb(1, 255, 189);
    background: linear-gradient(127deg, rgba(1, 255, 189, 1) 8%, rgba(21, 159, 145, 1) 100%);
    height: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*! ------------------------ body  -------------------------------*/

section.title-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 5px;
}

#login-title {
    display: none;
}

section.title-cont>div {
    display: inline-block;
    padding: 10px;
    width: 80%;
    min-width: 300px;
    max-width: 400px;
    color: var(--icon-color);
    box-shadow: 0px 10px 25px 10px rgb(0 0 0 / 15%);
    background-color: rgb(228 228 228 / 15%);
    border-radius: 1rem;
    text-align: center;
}

section.login-register-cont {
    margin-top: 300px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.login-register-cont>div {
    position: absolute;
    width: 50%;
    height: 500px;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.login-title,
.register-title {
    position: absolute;
    top: 5px;
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.login-title>p,
.register-title>p {
    color: rgb(173, 173, 173);
    font-weight: bold;
    font-size: 30px;
    -moz-user-select: none;
    -webkit-user-select: none;
    transition: var(--transition-time);
}

input[type=checkbox] {
    accent-color: var(--main-green);
}


/* register */

.register {
    background-color: var(--light-green);
    border-radius: 50px 290px 50px 50px;
    z-index: 0;
}

.register-title {
    direction: ltr;
    left: 5px;
}

span.form-cont {
    width: 100%;
    height: 60%;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 3rem;
}

form[class|="form"] {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1rem;
}

.input-cont {
    width: 100%;
    display: flex;
    column-gap: 1rem;
    border-bottom: 2px solid var(--main-green);
    transition: var(--transition-time);
}

.input-cont:hover {
    transform: scale(1.05);
    border-bottom: 2px solid var(--dark-green);
}

.input-cont:hover label {
    color: var(--dark-green);
}

.input-cont>label {
    color: var(--main-green);
    font-size: 1.2rem;
    transition: var(--transition-time);
}

.input-cont>input {
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

.remember-cont {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

span.submit-cont {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

span.submit-cont>a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

input[type=submit] {
    width: 130px;
    border: none;
    background-color: var(--main-green);
    padding: 8px;
    border-radius: 2rem;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 1px 13px 2rem rgba(54, 54, 54, 0.664);
}

input[type=submit]:hover {
    background-color: var(--dark-green);
}


/* login */

.login {
    background-color: #ffffff;
    border-radius: 290px 50px 50px 50px;
    z-index: 0;
}

.login-title {
    right: 5px;
}

form.form-login>a {
    color: var(--main-green);
    transition: var(--transition-time);
}

form.form-login>a:hover {
    color: var(--dark-green);
}


/*? selected */

section.login-register-cont>div.selected {
    box-shadow: 1px 13px 2rem rgba(54, 54, 54, 0.664);
    z-index: 1;
}

.selected>:first-child>p {
    color: var(--icon-color);
}

.selected>:first-child>p::after {
    width: 100%;
    content: "";
    float: left;
    background: var(--main-green);
    height: 6px;
    border-radius: 3px;
}