@font-face {
    font-family: 'iran-sans';
    src: url("../assets/fonts/IRANSans_Medium.ttf");
    font-family: 'iran-sans-num';
    src: url("../assets/fonts/IRANSans\(FaNum\)_Medium.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iran-sans, iran-sans-num;
}

:root {
    /*?       color        */
    --mainWhite: #fafafa;
    /* greenn */
    --light-green: #DEF2F1;
    --dim-green: #42B1B8;
    --main-green: #159F91;
    /* bluee */
    --blue: #349EFE;
    --light-blue: #76faff3b;
    --icon-color: #17252A;
    /* redd */
    --main-red: rgb(241, 58, 58);
    /* color text */
    --main-text-color: #7C7A89;
    /*?       font size    */
    --medium-font-size: 16px;
    --large-font-size: 20px;
}

body {
    background-color: var(--bodyColor);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*!------------------------ scroll --------------------------*/


/* opera & chrome & safari & Edge */

::-webkit-scrollbar {
    width: 16px;
    background-color: var(--mainWhite);
}

::-webkit-scrollbar-thumb {
    background: var(--main-green);
    border-radius: 16px;
    border: 4px solid #fff;
}


/* !--------------------------------  header mobile   -------------------- */

header.header-mobile {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

header.header-mobile>nav.nav-mobile {
    background-color: var(--main-green);
    width: 95%;
    border-radius: 1rem;
    padding: 15px 3px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav.nav-mobile>span>i {
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

nav.nav-mobile>img.bahoz-logo-text {
    height: 2rem;
}

.img-accont {
    position: relative;
}

.img-accont>.notif-accont {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--main-red);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-accont>img.accont {
    height: 70px;
    border-radius: 50%;
}


/* !--------------------------------  menu for mobile   -------------------- */

section.blurry {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 200%;
    top: 0;
    background-color: rgba(160, 160, 160, 0.562);
    display: none;
}

menu.menu-mobile {
    z-index: 3;
    position: absolute;
    right: -410px;
    transition: 0.5s;
    top: 0;
    width: 50vw;
    height: 200%;
    padding: 5px 10px;
    background-color: var(--dim-green);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

hr {
    border: 0.5px solid #2d757a;
    border-radius: 5px;
}

menu.menu-mobile>.top-menu {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.top-menu>img {
    height: 10vw;
}

span.close-menu {
    width: 100%;
    color: white;
    text-align: left;
    font-size: 1.3rem;
}

span.close-menu>i {
    cursor: pointer;
}

.top-menu>.search-menu {
    background-color: #37949A;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.top-menu>.search-menu>i {
    color: var(--icon-color);
    cursor: pointer;
}

.top-menu>.search-menu>input {
    color: var(--mainWhite);
    background-color: #37949A;
    width: 90%;
    outline: none;
    border: none;
}

.top-menu>.search-menu>input::placeholder {
    color: rgb(230, 230, 230);
}


/* center */

menu>.center-menu>ul {
    box-shadow: 0 0 1rem 0 rgba(90, 90, 90, 0.2);
    padding: 5px 3px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

menu>.center-menu>ul>li {
    color: white;
    font-size: 1.3rem;
    padding: 8px;
    border-radius: 1rem;
    transition: var(--transition-time);
}

menu>.center-menu>ul>li:hover:not(.register-login-menu-mobile) {
    cursor: pointer;
    background-color: #37949A;
}

menu>.down-menu>ul {
    box-shadow: 0 0 1rem 0 rgba(90, 90, 90, 0.2);
    padding: 5px 3px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    color: var(--mainWhite);
}

menu>.down-menu>ul>li {
    padding: 8px;
    border-radius: 1rem;
    transition: var(--transition-time);
}

menu>.down-menu>ul>li:hover {
    cursor: pointer;
    background-color: #37949A;
}


/* !--------------------------------  header Desktop   -------------------- */

header.header-desktop {
    margin: auto;
    padding: 15px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}

header.header-desktop>nav.navbar-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1vw;
}

.logo-cont>a>img {
    height: 40px;
}

.logo-cont>a>i {
    font-size: 1.5rem;
    color: var(--icon-color);
    cursor: pointer;
    transition: var(--transition-time);
}

.logo-cont>a>i:hover {
    color: var(--dim-green);
}

ul.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;
}

ul.menu>li {
    list-style-type: none;
    color: var(--main-text-color);
    transition: var(--transition-time);
}

ul.menu>li:hover {
    color: var(--dim-green);
    cursor: pointer;
}

.login-register-cont {
    border: 3px solid var(--dim-green);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
}

.login {
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--dim-green);
    transition: var(--transition-time);
}

.login:hover {
    color: white;
    background-color: var(--dim-green);
}

.register {
    color: var(--dim-green);
    padding: 10px 15px;
    border-radius: 20px;
    transition: var(--transition-time);
}

.register:hover {
    color: white;
    background-color: var(--dim-green);
}

nav.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav.search-box>img {
    width: 100%;
}

.search-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.search {
    background-color: white;
    box-shadow: 1px 5px 10px #aaa;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    border-radius: 15px;
    width: 50%;
    column-gap: 0.7rem;
    position: absolute;
}

.search>i {
    color: var(--icon-color);
    cursor: pointer;
}

.search>input {
    border: none;
    outline: none;
}


/* !----------------------------------body---------------------- */

.short-menu-cont {
    position: relative;
    margin: 20px 5px;
}


/* ? button scroll */

.short-menu-cont>button {
    position: absolute;
    background-color: rgba(150, 150, 150, 0.719);
    box-shadow: 2px 3px 0.7rem 0 rgba(0, 0, 0, 0.2);
    color: var(--icon-color);
    top: 20%;
    z-index: 2;
    font-size: 1.5rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.short-menu-cont>button:hover {
    cursor: pointer;
    background-color: rgba(190, 190, 190, 0.719);
}

.short-menu-cont>button.scroll-right {
    right: 0;
}

.short-menu-cont>button.scroll-left {
    left: 0;
}


/* ? scroll X */

.short-menu::-webkit-scrollbar {
    background-color: var(--mainWhite);
}

.short-menu::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.384);
    border-radius: 20px;
}

.short-menu {
    padding: 0 30px;
    margin: auto;
    position: relative;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.short-menu>ul {
    display: flex;
    list-style-type: none;
    column-gap: 1rem;
}

.short-menu>ul>li {
    width: max-content;
    padding: 10px 10px;
    color: var(--main-text-color);
    transition: var(--transition-time);
    border-radius: 20px;
}

.short-menu>ul>li:hover {
    color: var(--mainWhite);
    background-color: var(--main-green);
    cursor: pointer;
}

section.main-page-cont {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

div.main-page {
    width: 90%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

section.suggestion-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
}

.image-suggestion-cont>img {
    height: 26vw;
}

.about-suggestion-cont {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.mini-title {
    color: var(--main-green);
}

.big-title-cont>p {
    font-size: var(--large-font-size);
    font-weight: bold;
}

div.more-cont {
    position: relative;
    display: flex;
    align-items: flex-end;
    font-size: var(--medium-font-size);
}

p.more {
    text-align: justify;
    height: 200px;
    overflow: hidden;
}

p.reading-text {
    height: auto;
}

.read-more-cont {
    position: absolute;
    right: 0;
    width: 101%;
    padding: 5px 10px;
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .3), #fff);
}

.reading-btn {
    position: relative;
    background-image: none;
    text-align: center;
}

button.btn-read-more {
    border: none;
    background-color: var(--main-green);
    opacity: 80%;
    color: var(--mainWhite);
    padding: 9px 15px;
    border-radius: 20px 5px 20px 20px;
    cursor: pointer;
    transition: var(--transition-time);
}

button.btn-read-more:hover {
    opacity: 1;
}

.profile-cont {
    display: flex;
    column-gap: 0.2rem;
}

.image-profile-cont>img {
    width: 50px;
    border-radius: 50%;
}


/* todo                       end suggestion */

section.content-cont {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 0.5rem;
    row-gap: 1rem;
}

.content {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 10px;
    border-radius: 15px;
    transition: var(--transition-time);
}

.content:hover {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.image-content>img {
    width: 100%;
    border-radius: 15px;
}


/* ! ------------------------------- page Number -------------------------*/

.page-number-cont {
    width: 100%;
    display: flex;
    column-gap: 1vw;
    justify-content: center;
    align-items: center;
}

.page-number-cont>img.flesh {
    cursor: pointer;
    height: 1rem;
    transition: 0.5s;
    transition: var(--transition-time);
}

.page-number-cont>img.flesh:hover {
    height: 1.1rem;
}

ul.page-number {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5vw;
}

ul.page-number>li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 35px;
    height: 35px;
    color: var(--main-text-color);
    border-radius: 50%;
    transition: var(--transition-time);
}

ul.page-number>li:hover:not(.selected,
.hover-none) {
    background-color: var(--main-green);
    color: var(--mainWhite);
    cursor: pointer;
}

ul.page-number>li.selected {
    background-color: #DEF2F1;
    color: black;
}


/* todo                 end  number  */


/* !--------------------------------  footer  -------------------- */

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--light-blue);
    margin-top: 30px;
    padding: 20px 0;
    row-gap: 1rem;
}

.menu-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.menu-footer>li {
    padding: 2vw;
}

.menu-footer>li>a {
    color: #7C7A89;
    transition: var(--transition-time);
}

.menu-footer>li>a:hover {
    color: #272727;
}

.logo-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.enamad-icon>img {
    height: 20vw;
    max-height: 150px;
    background: var(--dim-green);
    border-radius: 5px;
}

.social-media-footer {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.social-media-footer>span {
    background-color: var(--dim-green);
    color: var(--icon-color);
    font-size: 1.5rem;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--transition-time);
}

.social-media-footer>span:hover {
    background-color: var(--icon-color);
    color: var(--light-green);
}

.bahoz-copyright {
    width: 95%;
    max-width: 800px;
    background: var(--dim-green);
    color: #0c0c0c;
    border-radius: 30px;
}

.bahoz-copyright>p {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


/*?                           medi query                    */

@media (max-width:768px) {
    /*! header: desktop none  and mobile flex */
    header.header-desktop {
        display: none;
    }
    header.header-mobile {
        display: flex;
    }
    /* short-menu : width full*/
    .short-menu {
        width: 100%;
    }
    /* scroll short menu  : delete */
    .short-menu::-webkit-scrollbar {
        display: none;
    }
    /* main page cont : padding 0 */
    section.main-page-cont {
        padding: 0;
    }
    /* main page :  fulls screen */
    .main-page {
        width: 100%;
    }
    /* suggestion : row chage to column */
    section.suggestion-cont {
        flex-direction: column;
    }
    /* image  :  fulls screen */
    .image-suggestion-cont {
        width: 100%;
        text-align: center;
    }
    .image-suggestion-cont>img {
        width: 100%;
        height: auto;
    }
    /* read more : center */
    .read-more-cont {
        text-align: center;
    }
    button.btn-read-more {
        border-radius: 20px;
    }
    /* scroll bar  : delete srcroll bar*/
     ::-webkit-scrollbar {
        width: 0px;
    }
}

@media (min-width:769px) {
    /*! header: desktop flex  and mobile none */
    header.header-desktop {
        display: flex;
    }
    header.header-mobile {
        display: none;
    }
    /* menu mobile & blurry : remove */
    section.blurry {
        display: none !important;
    }
    menu.menu-mobile {
        right: -410px !important;
        display: none !important;
    }
    body {
        overflow-y: visible !important;
    }
    /* button left & rihgt : delete */
    .short-menu-cont>button {
        display: none;
    }
    /* scroll short menu  : show */
    .short-menu::-webkit-scrollbar {
        display: block;
    }
}