@font-face {
    font-family: 'iran-sans';
    src: url("../assets/fonts/IRANSans_Medium.ttf");
    font-family: 'iran-sans-num';
    src: url("../assets/fonts/IRANSans\(FaNum\)_Medium.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: iran-sans, iran-sans-num;
}
:root {
    /*?       color        */
    --mainWhite: #fafafa;
    /* greenn */
    --light-green: #DEF2F1;
    --dim-green: #42B1B8;
    --main-green: #159F91;
    --hover-green: #5bc3b8;
    /* bluee */
    --blue: #349EFE;
    --light-blue: #76faff3b;
    --icon-color: #17252A;
    --active-color: #72cbff;
    /* color text */
    --main-text-color: #7C7A89;
    /*?       font size    */
    --medium-font-size: 16px;
    --large-font-size: 20px;
    /* time */
    --transition-time: 0.4s;
}
.menu{
    width: 100%;
    height: 70px;
    background-color: #76faff3b;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 1rem 0 #c6d3d2;
}
.logo{
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 50px;
}
.icons{
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2vh;
}
.icons i{
    font-size: 20px;
    cursor: pointer;
    color: var(--icon-color);
}
.icons i:hover{
    color: var(--main-green);
}
.email{
    width: 180px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email a{
    font-size: 14px;
    cursor: pointer;
    color: var(--icon-color);
}
a{
    text-decoration: none;
}

.main-container{
    width: 100%;
    height: auto;
}
.text-back{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 45px;
}
.text-back a{
    font-size: 10px;
    color: gray;
}
.container{
    width: 100%;
    height: 500px;
    display: flex;
}
.profile-container{
    width: 35%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-container{
    border-right: 1px solid rgb(150, 147, 147);
    width: 65%;
    height: 500px; 
}
.profile-card{
    width: 85%;
    height: 500px; 
}
.profile-circle{
    width: 100%;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-profile{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding-right: 20px;
}
.line-profile:hover{
    background-color: var(--active-color);
    border-radius: 15px;
    transition: var(--transition-time);
}
.profile-circle img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}
.line-name-user{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}
.line-name-user h5{
    color: gray;
}
.boxs{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box{
    width: 220px;
    height: 170px;
    margin: 10px 20px;
    border-radius: 7px;
    box-shadow: 0 0 1rem 0 #b1aeae;
}
.line-box-icon{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-box-icon div{
    width: 90%;
    height: 80px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-box-icon div i{
    font-size: 40px;
    color: rgb(218, 216, 216);
}
.line-box-title{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-box-title p{
    font-size: 15px;
}
.line-box-digit{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line-box-digit p{
    font-size: 20px;
}
.yellow{
    background-color: goldenrod;
}
.green{
    background-color: green;
}
.red{
    background-color: rgb(133, 7, 7);
}
.blue{
    background-color: #159F91;
}
.magenta{
    background-color: rgb(100, 31, 212);
}